<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", admins_comments_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_admins_comment_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", admins_comment_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.admins_comment.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @comment.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admins_comment.published", :default => t("activerecord.labels.published", :default => "Published")) %>:</b>
          <%= @comment.published %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admins_comment.closed", :default => t("activerecord.labels.closed", :default => "Closed")) %>:</b>
          <%= @comment.closed %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admins_comment.content", :default => t("activerecord.labels.content", :default => "Content")) %>:</b>
          <%= @comment.content %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.admins_comment.signature", :default => t("activerecord.labels.signature", :default => "Signature")) %>:</b>
          <%= @comment.signature %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admins_comment_path(@comment), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admins_comment_path(@comment), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>