.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admins_images_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admins_image_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admins_image_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.image.name", :default => t("activerecord.labels.name", :default => "Imagen"))
          \:
        = image_tag @image.picture(:thumb)
        = @image.picture
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admins_image_path(@image), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admins_image_path(@image), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

