.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admins_promotions_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admins_promotion_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Promotions
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.admins_promotion.category_id", :default => t("activerecord.labels.category_id", :default => "Category_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @promotions.each do |promotion|
          %tr{:class => cycle("odd", "even")}
            %td
              = promotion.id
            %td
              = link_to promotion.category_id, admins_promotion_path(promotion)
            %td
              = promotion.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admins_promotion_path(promotion)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admins_promotion_path(promotion)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admins_promotion_path(promotion), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
