.group
  = f.label :name, t("activerecord.attributes.microsite.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :published, t("activerecord.attributes.microsite.published", :default => "Published"), :class => :label
  = f.text_field :published, :id => 'published', :class => "text_field"
  %span.description Ex: a simple text
.group
  = f.label :closed, t("activerecord.attributes.microsite.closed", :default => "Closed"), :class => :label
  = f.text_field :closed, :id => 'closed', :class => "text_field"
  %span.description Ex: a simple text
.group
  = f.label :image, t("activerecord.attributes.microsite.image", :default => "Image"), :class => :label
  = f.fields_for :image do |image_form|
    = image_form.file_field :picture
    = image_form.hidden_field :purpose, :value => "image"
.group
  = f.label :summary, t("activerecord.attributes.microsite.summary", :default => "Summary"), :class => :label
  = f.text_area :summary, :class => 'text_area'
  %span.description Ex: a simple text
.group
  = f.label :home_page, t("activerecord.attributes.microsite.home_page", :default => "Home page"), :class => :label
  = f.check_box :home_page, :class => 'check_box'
  %span.description Ex: a simple text
.group
  = f.label :external_page, t("activerecord.attributes.microsite.external_page", :default => "External page"), :class => :label
  = f.check_box :external_page, :class => 'check_box'
  %span.description Ex: a simple text
.group
  = f.label :other_category, t("activerecord.attributes.microsite.other_category", :default => "Other category"), :class => :label
  = f.check_box :other_category, :class => 'check_box'
  %span.description Ex: a simple text
.group
  = f.label :category_id, t("activerecord.attributes.microsite.category", :default => "Category"), :class => :label
  = f.collection_select :category_id, @categories,:id,:name,{}, {:selected => @microsite.category.id, :disabled => (@microsite.category_id.nil? && true)}
  %span.description Ex: a simple text
.group
  = f.label :header, t("activerecord.attributes.microsite.header", :default => "Header"), :class => :label
  = f.fields_for :header do |header_form|
    = header_form.file_field :picture
    = header_form.hidden_field :purpose, :value => "header"
.group
  = f.label :space1, t("activerecord.attributes.microsite.space1", :default => "Space1"), :class => :label
  = f.fields_for :space1 do |space_form|
    = space_form.file_field :picture
    = space_form.hidden_field :purpose, :value => "space1"
.group
  = f.label :space2, t("activerecord.attributes.microsite.space2", :default => "Space2"), :class => :label
  = f.fields_for :space2 do |space_form|
    = space_form.file_field :picture
    = space_form.hidden_field :purpose, :value => "space2"
.group
  = f.label :content, t("activerecord.attributes.microsite.content", :default => "Content"), :class => :label
  = f.text_area :content, :class => 'text_area mceEditor'
  %span.description Ex: a simple text
.group
  = f.label :space3, t("activerecord.attributes.microsite.space3", :default => "Space3"), :class => :label
  = f.fields_for :space3 do |space_form|
    = space_form.file_field :picture
    = space_form.hidden_field :purpose, :value => "space3"
.group
  = f.label :space4, t("activerecord.attributes.microsite.space4", :default => "Space4"), :class => :label
  = f.fields_for :space4 do |space_form|
    = space_form.file_field :picture
    = space_form.hidden_field :purpose, :value => "space4"
.group
  = f.label :form, t("activerecord.attributes.microsite.form", :default => "Form"), :class => :label
  = f.check_box :form, :class => 'check_box'
  %span.description Ex: a simple text
.group
  = f.label :footer, t("activerecord.attributes.microsite.footer", :default => "Footer"), :class => :label
  = f.fields_for :footer do |footer_form|
    = footer_form.file_field :picture
    = footer_form.hidden_field :purpose, :value => "footer"
.group
  = f.label :microsite_id, t("activerecord.attributes.microsite.microsite_id", :default => "Parent Microsite"), :class => :label
  =f.collection_select :microsite_id, @microsites,:id,:name, {:selected => @microsite.parent_microsite.id, :include_blank => true }
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admins_microsites_path, :class => "text_button_padding link_button"
:javascript
  $('#microsite_other_category').change(function(){if ($('#microsite_other_category').attr('checked')===true){$('#microsite_category_id').attr('disabled',false)} else{$('#microsite_category_id').attr('disabled',true)}})