.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admins_microsites_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_admins_microsite_path
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      Microsite
    .inner
      = form_for @microsite, :url => admins_microsites_path, :html => { :class => :form, :multipart => true } do |f|
        = render :partial => "form", :locals => {:f => f}

