
#containerslider
  #slider.nivoSlider
    -@carrusel.each do |article|
      = link_to swf_or_image_tag(article.summary,"carrusel",article.carrusel_image.picture) , article_path(article.id)
  #htmlcaption.nivo-html-caption
    %strong This
    is SPARTA of a
    %em HTML
    caption with
    = succeed "." do
      %a{:href => "#"} a link
#rightcol
  .categorias
    %h3 Destacados
    %ul
      -@microsites.each do |microsite|
        %li
          =link_to microsite.name, microsite_path(microsite.id)
        %li
          %hr/
  .facebook
    %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&width=200&colorscheme=light&show_faces=true&stream=false&header=false&height=300", :style => "border:none; overflow:hidden; width:200px; height:300px;"}
  .noticias
    %h3 Highlights
    %ul#highlights
      -@highlights.each do |article|
        %li
          =link_to article.highlights, article_path(article)
#leftcold
  .home
    .title
      %span VIDEOS
    %ul
      -@videos.each do |video|
        %li
          %h4
            =link_to video.title, video.category
          -if video == @videos.first
            = raw video.link
          

  .comentarios
    .title
      %span COMENTARIOS
    %ul
      -@comments.each do |comment|
        %li
          %h4
            =comment.name
          %span
            =comment.content
          %p.cby
            by
            =comment.signature
#rightcold
  .title
    %span PROMOCIONES
  %ul
    -@promotions.each do |promotion|
      %li
        .image
          =image_tag promotion.images.first.picture.url(:original)
        %h3 
          =promotion.title
        %p
          =promotion.summary
        #precio
          %span.desc
            ="#{promotion.discount}%"
            %br
            %span.descl<
              descuentos
          %span.pactual
            =number_to_currency(promotion.discount_value,{:precision =>0})
          %br
          %span.panterior
            =number_to_currency(promotion.value,{:precision =>0})
        
        %p.bottompromo
          =image_tag "chulo.png", :class => "chulo"
          Oferta Conseguida
          =image_tag "clock.png"
          Tiempo Restante
          %span{:id =>"countdown#{promotion.id}"}
          %a{:href => promotion_path(promotion)}
            =image_tag "button.png", :class => "boton"
        :javascript
          $(window).load(function() { $('#countdown#{promotion.id}').countdown({date:'#{countdown_time promotion.closed}',id:"countdown#{promotion.id}"})});

:javascript
  $(window).load(function() {$('#slider').nivoSlider({ effect:'sliceUpDown'})});
  $("#highlights").ticker(50, true, true);