
#containerslider
  #slider.nivoSlider
    -@carrusel.each do |article|
      =link_to swf_or_image_tag(article.highlights,"medium",article.carrusel_image.picture) , article_path(article.id)
  #htmlcaption.nivo-html-caption
    %strong This
    is SPARTA of a
    %em HTML
    caption with
    = succeed "." do
      %a{:href => "#"} a link
#rightcol
  .categorias
    %h3 Destacados
    %ul
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
      %li Micrositio
      %li
        %hr/
  .facebook
    %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&width=200&colorscheme=light&show_faces=true&stream=false&header=false&height=300", :style => "border:none; overflow:hidden; width:200px; height:300px;"}
  .noticias
    %h3 Highlights
    %ul
      -@highlights.each do |article|
        %li
          =article.highlights
#leftcold
  .home
    .title
      %span VIDEOS
    %ul
      %li
        =image_tag "imagen_home.jpg"
        %h4 Titulo
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra, orci nec mattis porta, mauris tellus ultricies.
      %li
        =image_tag "imagen_home.jpg"
        %h4 Titulo
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra, orci nec mattis porta, mauris tellus ultricies.
      %li
        =image_tag "imagen_home.jpg"
        %h4 Titulo
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra, orci nec mattis porta, mauris tellus ultricies.
      %li
        =image_tag "imagen_home.jpg"
        %h4 Titulo
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra, orci nec mattis porta, mauris tellus ultricies.
  .comentarios
    .title
      %span COMENTARIOS
    %ul
      -@comments.each do |comment|
        %li
          %span
            =comment.content
          %p.cby
            by
            =comment.signature
#rightcold
  .title
    %span PROMOCIONES
  %ul
    -@promotions.each do |promotion|
      %li
        =swf_or_image_tag(nil,"thumb",promotion.images.first.picture)
        %h3 
          =promotion.title
        %p
          =promotion.summary
        #precio
          %span.desc
            ="#{promotion.discount}%"
            %br/
            desc.
          %span.pactual
            ="$ #{promotion.discount_value}"
          %span.panterior
            ="$ #{promotion.value}"
        #countdown
          %a{:href => "#"}
            =image_tag "button.png", :class => "boton"
        :javascript
          $('#countdown').countdown({until: new Date("#{promotion.closed.year},#{promotion.closed.month-1},#{promotion.closed.day}")});
    %li
      =image_tag "about_imagen.jpg", :class => "image"
      %h3 Cirugia Estetica
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla viverra, orci nec mattis porta, mauris tellus ultricies.
      #precio
        %span.desc
          50%
          %br/
          desc.
        %span.pactual $ 1.000.000
        %span.panterior $ 2.000.000
      %p.bottompromo
        =image_tag "chulo.png", :class => "chulo"
        Oferta Conseguida
        =image_tag "clock.png"
        Tiempo Restante
        = succeed "h" do
          %span 20
        = succeed "m" do
          %span 10
        = succeed "s" do
          %span 06
        %a{:href => "#"}
          =image_tag "button.png", :class => "boton"

:javascript
  $(window).load(function() {$('#slider').nivoSlider({ effect:'sliceUpDown'});});