%li
  .conimagen
    .imagenc
      %div{:id =>"promo_slide#{promotion.id}"}
        -promotion.images.each do |image|
          =swf_or_image_tag(nil,"small",image.picture) if image.picture.file?
  .textos
    %h3<
      =promotion.title
    %p
      =promotion.summary
    #precio
      %span.pactual
        ="$ #{promotion.discount_value}"
      %span.desc
        ="#{promotion.discount}%"
        %br
        %span.descl<
          descuentos
      %span.panterior
        ="$ #{promotion.value}"
    =link_to "Ver el Plan", promotion_path(promotion.id)
    .inferior
      =image_tag "1306367126_clock.png"
      %span.time
        Tiempo restante para comprar
        %br 
        %span{:id =>"countdown#{promotion.id}"}
      =image_tag "1306367117_check.png"
      %span
        Oferta Conseguida
  
:javascript
  $(window).load(function() {$('#countdown#{promotion.id}').countdown({date:'#{promotion.closed}',id:"countdown#{promotion.id}"});$("#promo_slide#{promotion.id}").nivoSlider({ effect:'sliceUpDown'});});