%li
  .cuadroi
    %div{:id =>"promo_slide#{promotion.id}"}
      -promotion.images.each do |image|
        =swf_or_image_tag(nil,"small",image.picture) if image.picture.file?
  .textos
    %h3<
      =promotion.title
    %p
      =promotion.summary
    .addthis_toolbox.addthis_default_style.redesociales
      %a.addthis_button_preferred_1
      %a.addthis_button_preferred_2
      %a.addthis_button_preferred_3
      %a.addthis_button_preferred_4
      %a.addthis_button_compact
      %a.addthis_counter.addthis_bubble_style
    #precio
      %span.desc
        ="#{promotion.discount}%"
        %br
        desc.
      %span.pactual
        ="$ #{promotion.discount_value}"
      %span.panterior
        ="$ #{promotion.value}"
    .tabajo
      #countdown
      %p.bottompromo
        =image_tag "chulo.png"
        Oferta Conseguida
        =image_tag "clock.png"
        Tiempo Restante 
        %span{:id =>"countdown#{promotion.id}"}
      
  =link_to image_tag("button.png", :class => "boton"), promotion_path(promotion.id)
:javascript
  $('#countdown').countdown({until: new Date("#{promotion.closed.to_time.to_s}")});
  $(window).load(function() {$("#promo_slide#{promotion.id}").nivoSlider({ effect:'sliceUpDown'}); $('#countdown#{promotion.id}').countdown({date:'#{promotion.closed}',id:"countdown#{promotion.id}"});});