!!!
%html
  %head
    %title Cirugia Plastica Barranquilla Colombia, esclerosis vascular en barraquilla
    %link{:href => "images/smadia-ico.ico", :rel => "shortcut icon", :type => "image/ico"}/
    = stylesheet_link_tag "style", "nivo-slider", "jquery.countdown"
    = javascript_include_tag "jquery-1.5.2.min","jquery-rails","jquery-ui","Cyclo_400.font","application","jquery.countdown","jquery.nivo.slider.pack", "turboTicker.JQuery"
    = csrf_meta_tag
    %meta{:name=>"description",:content=>"Smadia Clinic, Cirugia Plastica Barranquilla,Esclerosis vascular en barranquilla, medicina estetica facial colombia"}
    = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dac4fa3199b4742"
    :javascript
      Cufon.replace('.title span,#rightcold .title span, #login, #rightcol h3');
      var addthis_config = {"data_track_clickback":true};
  
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21974325-40']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    #wrapper 
      #header
        .logo
        /%span#login log in
      #menu
        %ul#nav
          %li 
            =link_to "Inicio", root_path
          = render @main_menu.subcategories 
          %li 
            =link_to "Contacto", pages_contact_path
        %span.search
          -form_for :search, :url => pages_search_path do |f|
            =f.text_field :param, :size => 20      
      .flash
        - flash.each do |type, message|
          %div{:class => "message #{type}"}
            %p= message
      = yield
    #footer
      %p
        Cra 47 No. 80-45 Local 2 Barranquilla, Colombia
        %br
          PBX.
          %span (5) 378 4140
          Cel.
          %span (301) 278 5986
          USA.
          %span (305) 848 9560
          %br
            %span www.smadiaclinic.com
            %br
              %span info@smadiaclinic.com
      .logovd
        Diseñado por:
        %a{:href => "http://www.virtualdiseno.com"}
          %img{:alt => "virtualdiseno", :height => "60", :src => "/images/virtual_diseno.png", :width => "140"}/
      %p                                      