!!!
%html
  %head
    %title Smadia Clinic
    %link{:href => "images/smadia-ico.ico", :rel => "shortcut icon", :type => "image/ico"}/
    = stylesheet_link_tag "style", "nivo-slider", "jquery.countdown", "turboTicker.JQuery"
    = javascript_include_tag :all
    = csrf_meta_tag
    = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dac4fa3199b4742"
    :javascript
          Cufon.replace('.title span,#rightcold .title span, #login, #rightcol h3');
          var addthis_config = {"data_track_clickback":true};
  %body
    #wrapper 
      #header
        .logo
        %span#login log in
      #menu
        %ul#nav
          %li 
            =link_to "Inicio", root_path
          = render @main_menu.subcategories   
        %span.search
          %input{:name => "Buscar", :type => "text"}/      
      .flash
        - flash.each do |type, message|
          %div{:class => "message #{type}"}
            %p= message
      = yield
    #footer                                                             
      %p                                                                
        Cra 47 No. 80-45 Local 2 Barranquilla, Colombia                 
        %br/                                                            
        PBX. (5) 378 4140 Cel. (301) 278 5986 USA. (305) 848 9560       
        %br/                                                            
        www.smadiaclinic.com                                            
        %br/                                                            
        info@smadiaclinic.com                                           
                                                                            